@page
@model FacturaMRC.Pages.DetailBills.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DetailBill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DetailBill.BillID" class="control-label"></label>
                <select asp-for="DetailBill.BillID" class ="form-control" asp-items="ViewBag.BillID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DetailBill.ProductID" class="control-label"></label>
                <select asp-for="DetailBill.ProductID" class ="form-control" asp-items="ViewBag.ProductID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DetailBill.Quantity" class="control-label"></label>
                <input asp-for="DetailBill.Quantity" class="form-control" />
                <span asp-validation-for="DetailBill.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
